<div id="<%= dom_id pedido %>" class="pedido">
  <div class="info">
    <p class="proveedor">
      <%= pedido.supplier.nombre %>
      <p class="fecha"><%= pedido.fecha.strftime("%d/%m/%Y") %></p>
    </p>

<!--
     <p>
      <strong>Productos:</strong>
      <%= pedido.productos %>
    </p>
-->

    <div class="pro">
      <div class="img-pro">
        <%= image_tag "martillo-dewalt.png" %>
      </div>

      <strong>Nombre: </strong>Martillo
      <strong>Cantidad: </strong>25
      <strong>Modelo: </strong>MX-200
    </div>

    <div class="pro">
      <div class="img-pro">
        <%= image_tag "martillo-dewalt.png" %>
      </div>

      <strong>Nombre:</strong> Martillo
      <strong>Cantidad:</strong> 25
      <strong>Modelo:</strong> MX-200
    </div>

  </div>

    <p class="deta">
      <%= link_to "Ver mas", pedido %>
    </p>

</div>
