<div id="<%= dom_id pedido %>">
  <p>
    <strong>Fecha:</strong>
    <%= pedido.fecha %>
  </p>

  <p>
    <strong>Productos:</strong>
    <%= pedido.productos %>
  </p>

  <p>
    <strong>Descripcion entrega:</strong>
    <%= pedido.descripcion_entrega %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= pedido.supplier_id %>
  </p>

</div>
