<div id="<%= dom_id pedido %>" class="pedido">
  <div class="info">
    <p class="proveedor">
      <%= pedido.supplier.nombre %>
      <p class="fecha"><%= pedido.fecha.strftime("%d/%m/%Y") %></p>
    </p>

<!--
     <p>
      <strong>Productos:</strong>
      <%= pedido.productos %>
    </p>
-->


    <% pedido.pedido_products.includes(:product).limit(2).each do |pp| %>
      <div class="pro">
        <div class="img-pro">
          <% if pp.product.images.attached? %>
            <%= image_tag url_for(pp.product.images.first), alt: pp.product.nombre %>
          <% else %>
            <%= image_tag "martillo-dewalt.png" %>
          <% end %>
        </div>
        <strong>Nombre: </strong><%= pp.product.nombre %><br>
        <strong>Cantidad: </strong><%= pp.cantidad %><br>
        <strong>Modelo: </strong><%= pp.product.modelo if pp.product.respond_to?(:modelo) %><br>
        <strong>Marca: </strong><%= pp.product.marca if pp.product.respond_to?(:marca) %>
      </div>
    <% end %>

  </div>

    <p class="deta">
      <%= link_to "Ver mas", pedido %>
    </p>

</div>
