<head>
  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/sweetalert2@11" %>
  <%= stylesheet_link_tag "contactanos", media: "all" %>
</head>

<body class="general">

<section class="contact-container">

  <div class="imagen map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.1601203327414!2d-74.91765568946417!3d10.722130489379245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef5d91f34c3a047%3A0xddd0f12284c199e0!2sCl.%206A%20%23%2011-32%2C%20Campeche%2C%20Baranoa%2C%20Atl%C3%A1ntico!5e0!3m2!1ses-419!2sco!4v1753996537904!5m2!1ses-419!2sco"
            width="60%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" class="centrar"></iframe>
  </div>

  <div class="form-container letra">

    <h2 class="h2"><%= t('contact.title') %></h2>

    <%= form_with url: send_report_path, scope: :user_support, local: true do |f| %>
      <div class="mb-3" id="letra">
        <%= f.label :user_name, t('contact.name'), class: "letra" %>
        <%= f.text_field :user_name, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :user_apellido, t('contact.lastname'), class: "letra" %>
        <%= f.text_field :user_apellido, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :user_email, t('contact.email'), class: "letra" %>
        <%= f.email_field :user_email, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :description, t('contact.description'), class: "letra" %>
        <%= f.text_area :description, class: "form-control" %>
      </div>

      <%= f.submit t('contact.submit'), class: "btn btn-light", id: "colores" %>
    <% end %>

    <br>

    <div class="organizarIcons">
      <div class="telefono-icono">
        <i class="fas fa-phone"></i> 310 730 6745 - 300 433 4132
        &nbsp;&nbsp;
        <i class="fas fa-at"></i> ferrecampeche@hotmail.com
      </div>

      <br><br><br>

      <div class="whats">
        <a href="https://wa.me/573116547681?text=Hola%2C+quiero+hablar+con+un+experto" target="_blank" class="btn-whatsapp">
          <span><%= t('contact.whatsapp') %></span>
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" class="icono-wsp">
        </a>
      </div>
    </div>

  </div>

</section>

</body>

<script>
  <% if flash[:notice] %>
    Swal.fire({
      icon: 'success',
      title: '¡Mensaje enviado!',
      text: '<%= flash[:notice] %>',
      timer: 3000,          // ⏳ se cierra solo en 3 segundos
      showConfirmButton: false
    });
  <% elsif flash[:alert] %>
    Swal.fire({
      icon: 'error',
      title: 'Error',
      text: '<%= flash[:alert] %>',
      timer: 4000,          // ⏳ se cierra en 4 segundos
      showConfirmButton: false
    });
  <% end %>
</script>