
<section>
  <div class="banner-wrapper">
    <%= image_tag 'banner.png', alt: 'logo', class: 'banner-image' %>
  </div>

  <h2 class="titulo"> 🔥 Promociones 🔥</h2>

  <div class="cartas">
    <div class="cartaa">
      <%= image_tag "martillo-dewalt.png", alt: 'herramienta' %>
      <h2>Promo1</h2>
      <p>precio: 44.900 COP</p>
      <button>Comprar</button>
    </div>
    <div class="cartaa">
      <%= image_tag "martillo-dewalt.png", alt: 'herramienta' %>
      <h2>Promo1</h2>
      <p>precio: 44.900 COP</p>
      <button>Comprar</button>
    </div>
    <div class="cartaa">
      <%= image_tag "martillo-dewalt.png", alt: 'herramienta' %>
      <h2>Promo1</h2>
      <p>precio: 44.900 COP</p>
      <button>Comprar</button>
    </div>
    <div class="cartaa">
      <%= image_tag "martillo-dewalt.png", alt: 'herramienta' %>
      <h2>Promo1</h2>
      <p>precio: 44.900 COP</p>
      <button>Comprar</button>
    </div>
  </div>

  <h2 class="titulo"> Busca tu producto </h2>
  <div class="categorias">
    <% @category.each do |categorias| %>
      <a class="cart-category" src="#"><%= categorias.nombre %></a>
    <% end %>
  </div>
  <h2 class="titulo">Contactanos</h2>
  <div class = "contacto">
    <a src="#" target="_blank"><%= image_tag "icons/whatsapp-brands.svg"%> <h3>whatsapp</h3> <p>+57 3012956202</p></a>
    <a src="#" target="_blank"><%= image_tag "icons/location-dot-solid.svg"%> <h3>Ubicanos</h3> <p>Cl. 6A, Campeche, Baranoa, Atlántico</p></a>
    <a src="#" target="_blank"><%= image_tag "icons/envelope-solid.svg"%> <h3>Correo</h3> <p>pepito@gmail.com</p></a>
  </div>
  

</section>

