
<section>
  <div class="banner-wrapper">
    <%= image_tag 'banner.png', alt: 'logo', class: 'banner-image' %>
  </div>

  <h2 class="titulo"> 🔥 Promociones 🔥</h2>

  <div class="cartas">
    <div class="cartaa">
      <%= image_tag "martillo-dewalt.png", alt: 'herramienta' %>
      <h2>Promo1</h2>
      <p>precio: 44.900 COP</p>
      <button>Comprar</button>
    </div>
    <div class="cartaa">
      <%= image_tag "martillo-dewalt.png", alt: 'herramienta' %>
      <h2>Promo1</h2>
      <p>precio: 44.900 COP</p>
      <button>Comprar</button>
    </div>
    <div class="cartaa">
      <%= image_tag "martillo-dewalt.png", alt: 'herramienta' %>
      <h2>Promo1</h2>
      <p>precio: 44.900 COP</p>
      <button>Comprar</button>
    </div>
    <div class="cartaa">
      <%= image_tag "martillo-dewalt.png", alt: 'herramienta' %>
      <h2>Promo1</h2>
      <p>precio: 44.900 COP</p>
      <button>Comprar</button>
    </div>
  </div>

  <h2 class="titulo"> Busca tu producto </h2>
  <div class="categorias">
    <% @category.each do |categorias| %>
      <a class="cart-category" src="#"><%= categorias.nombre %></a>
    <% end %>
  </div>
  <h2 class="titulo">Contactanos</h2>
  <div class = "contacto">
    <a src="#" target="_blank"><%= image_tag "icons/whatsapp-brands.svg"%> <h3>whatsapp</h3> <p>+57 3012956202</p></a>
    <a src="#" target="_blank"><%= image_tag "icons/location-dot-solid.svg"%> <h3>Ubicanos</h3> <p>Cl. 6A, Campeche, Baranoa, Atlántico</p></a>
    <a src="#" target="_blank"><%= image_tag "icons/envelope-solid.svg"%> <h3>Correo</h3> <p>pepito@gmail.com</p></a>
  </div>
  
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d550.0248621197248!2d-74.91476192364354!3d10.724326685333724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef5d91f4b7de201%3A0xe3b0c0db16adab6e!2sCl.%206A%2C%20Baranoa%2C%20Atl%C3%A1ntico!5e0!3m2!1ses!2sco!4v1750135913790!5m2!1ses!2sco" width="60%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</section>

