<% if @categories.present? %>
  <% @categories.each do |categoria| %>
    <% productos = categoria.products.order(:id) %>
    <% if productos.any? %>
      <div class="categoria">
        <h2><%= categoria.nombre %></h2>

        <div class="slider-wrapper">
          <button class="botonL" onclick="moverSlider('slider-<%= categoria.id %>', -1)">←</button>

          <div class="slider-container" id="slider-<%= categoria.id %>">
            <% productos.each do |producto| %>
              <div class="carta">
                <%= image_tag("header-icon2.png", alt: "logo")%>
                <h4><%= producto.nombre %></h4> 
                <p><strong><%= number_to_currency(producto.precio, unit: "COP ", separator: ",", delimiter: ".", precision: 0) %> $</strong></p>
                <div class="botones-compra">
                  <%= link_to "Comprar ahora", class: 'boton-compra' %>
                </div>
              </div>
            <% end %>
          </div>

          <button class="botonR" onclick="moverSlider('slider-<%= categoria.id %>', 1)">→</button>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="sin-productos">
    <%= image_tag "ProductoNoDisponible.png", alt: "Producto No Disponible" %>
    <h2>No hay productos disponibles por ahora.</h2>
  </div>
<% end %>
