<div id="<%= dom_id person %>">
  <p>
    <strong>Nombre:</strong>
    <%= person.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= person.apellido %>
  </p>

  <p>
    <strong>Documento:</strong>
    <%= person.documento %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= person.correo %>
  </p>

</div>
