<div class="login d-flex justify-content-center align-items-center vh-100">

  <div class="hex-container position-relative">

    <!-- Imagen de usuario arriba del hex치gono -->
    <div class="user-icon position-absolute top-0 start-50 translate-middle">
      <img src="/assets/user.png" alt="Usuario" class="rounded-circle user-img">
    </div>

    <!-- Contenido del login dentro del hex치gono -->
    <div class="hex-content text-center">

      <% resource = User.new %>
      <% resource_name = :user %>
      <% devise_mapping = Devise.mappings[:user] %>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
        <div class="field mb-3">
          <%= f.label :email, "Usuario" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="field mb-3">
          <%= f.label :password, "Contrase침a" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field mb-3 form-check text-start">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, "Recordarme", class: "form-check-label" %>
          </div>
        <% end %>

        <div class="actions mb-3">
          <%= f.submit "Iniciar sesi칩n", class:"btn btn-primary w-100" %>
        </div>

      <% end %>

      <div class="text-center">
        <%= render "devise/shared/links" %>
        <br />
        <%= link_to "Regresar", authenticated_root_path, class:"btn btn-outline-secondary mt-2" %>
      </div>

    </div>
  </div>
</div>
