<div id="<%= dom_id buy %>" class="buy-id">
  <div>
      <p>
      <strong>Id de venta:</strong>
      <%= buy.id %>
    </p>

    <p>
      <strong>Nombre del cliente:</strong>
      <%= buy.customer.nombre %>
    </p>

    <p>
      <strong>Fecha de la compra:</strong>
      <%= buy.fecha %>
    </p>

  </div>
  <div class="boton-ver">
    <% buy.purchasedetails.each do |purchasedetail| %>
      <p>
        <%= link_to "Ver compra", buy_path(buy), class: "show-buy" %>
      </p>
    <% end %>
  </div>
</div>