<div id="<%= dom_id buy %>" class="buy-id">
  <div>
      <p>
      <strong>Id de venta:</strong>
      <%= buy.id %>
    </p>

    <p>
      <strong>Nombre del cliente:</strong>
      <%= buy.customer.nombre %>
    </p>

    <p>
      <strong>Fecha de la compra:</strong>
      <%= buy.fecha %>
    </p>

  </div>
  <div class="boton-ver">
    <p>
      <!--<%= link_to "ver detalles", purchasedetails_buy_path(buy), class:"show-buy"%>-->
      <%= link_to "Ver detalles", "#modal-#{buy.id}", class:"show-buy"%>
    </p>
  </div>
</div>