<div class="login">
  

<div class="base d-flex flex-row align-items-center justify-content-start flex-wrap">

<div class="login-container">
<% resource = User.new %>
<% resource_name = :user %>
<% devise_mapping = Devise.mappings[:user] %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="sign-container">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" , class:"btn-login"%>
  </div>
</div>
<% end %>

<div class="base2 text-center">
    <h3> BIENVENIDO</h3>
    <hr> </hr>
    
    <div class="text-center mt-3">
      <%= render "devise/shared/links" %>
    </div>
    
    
    <hr> </hr> 
    <%= link_to "Regresar", authenticated_root_path, class:"btn btn-outline-light" ,id: "link" %>
  </div> 
