<!--
<ul>
  <% @products.each do |product| %>
    <li><%= product.id %></li>
    <li><%= product.nombre %></li>
    <li><%= product.descripcion %></li>
    <li><%= product.precio %></li>
    <li><%= product.stock %></li>
    <li><%= product.category_id %></li>
    <li><%= product.supplier_id %></li>
    <br>
  <% end %>
</ul>
<%= link_to "Back to inventario", inventario_path %>