<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dashboard Ferretería</title>
  <%= favicon_link_tag 'header-icon.png' %>
  <%= stylesheet_link_tag "dashboard", media: "all" %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag "clientes" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>

  <header>
    <div class="container-header">
      <button class="hamburger" id="hamburger">&#9776;</button>
      <div id="control">
        <div class="panel"><%= image_tag "panel-control.png", class: "c-panel" %></div>
        <p class="pricipal">Panel de Control</p>
      </div>
      <% if user_signed_in? %>
        <%= button_to destroy_user_session_path, method: :delete, form: { data: { turbo: true } }, id: "cerrar", class: "logout2" do %>
          <span><i class="fas fa-sign-out-alt" style="color: white"></i></span>
        <% end %>
      <% end %>
    </div>
  </header>

  <nav class="nav-bg">
    <div class="container-nav">
      <ul class="menu" id="menu">
       <li><a href="dashboard"class="link-menu">Inicio</a></li>
        <li><a href="inventario"class="link-menu">Inventario</a></li>
        <li><a href="ventas"class="link-menu">Ventas</a></li>
        <li><a href="suppliers"class="link-menu">Proveedores</a></li>
        <li><a href="clientes"class="link-menu">Clientes</a></li>
        <li><a href="help"class="link-menu">Ayuda</a></li>
      </ul>
      <div>
          <% if user_signed_in? %>
            <%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete, form: { data: { turbo: true } }, id: "cerrar", class: "logout"%>
          <% end %>
        </div>
    </div>
  </nav>
  <section class="madre">
    <div class="filt">
      <div class="cont-volver">
        <a href="/clientes" class="a-volver" style="text-decoration:none;"><i class="fas fa-arrow-left" id="vol"></i></a>
      </div>
      <div class="filtro">
        <p class=p><i class="fas fa-filter"></i> Filtros</p>
        <div class="div">
          <%= form_tag clientes_path, class:"filtros", method: :get do %>
            <div class="filtro-id">
              <%= label_tag :documento, "CC:" %>
              <%= text_field_tag :documento, params[:documento], placeholder: "Ej: 123456", size: 12, style:"border-radius:10px; padding-left: 10px; border:1px solid grey;" %>
            </div>
            <div class="filtro-fecha">
              <%= label_tag :fecha, "Fecha:" %>
              <%= text_field_tag :year, params[:year], placeholder: "AAAA", size: 4, style:"border-radius:10px; padding-left: 10px; border:1px solid grey;" %>
              <%= text_field_tag :month, params[:month], placeholder: "MM", size: 2, style:"border-radius:10px; padding-left: 10px; border:1px solid grey;" %>
              <%= text_field_tag :day, params[:day], placeholder: "DD", size: 2, style:"border-radius:10px; padding-left: 10px; border:1px solid grey;" %>
            </div>
            <div>
              <%= button_tag type: 'submit', class: 'btn' do %>
                <i class="fas fa-search"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <section class="contenedor">
      <aside class="clientes">
        <div class="div-customer">Todas las fechas de compra:</div>
        <article class=compras>
          <% if @purchasedetails.present? && @purchasedetails.any? %>
            <% @purchasedetails.each do |p| %>
              <div class="compra-info" onclick="mostrarDetalle('<%= dom_id(p, :vista) %>')">
                <p class=p-id><strong>ID:</strong> <%= p.buy_id %></p>
                <p class=p-fecha><%= p.buy.fecha.strftime("%d/%m/%Y") %></p>
              </div>
            <% end %>
          <% end %>
      </aside>
      <section class="cont-facturas">
        <div id="purcha">
          <% @purchasedetails.each do |p| %>
            <div id="<%= dom_id(p, :vista) %>" class="div-purchase" style="display: none;">
              <h1 class=h1>Detalles de la Compra 🛒</h1>
              <section class=n1>
                <section class=n2>
                  <h1 class=h11>Datos del Cliente</h1>
                  <div class=deta-cliente>
                    <p><strong>Id del usuario cliente:</strong> <%= p.buy.customer.id %></p>
                    <p><strong>Nombre:</strong> <%= p.buy.customer.nombre %></p>
                    <p><strong>Numero de identificacion:</strong> <%= p.buy.customer.documento %></p>
                    <p><strong>Contacto/telefono:</strong> <%= p.buy.customer.telefono %></p>
                  </div>
                  <h1 class=h11>Datos del Producto</h1>
                  <div class=deta-produ>
                    <p><strong>Id del producto:</strong> <%= p.product.id %></p>
                    <p><strong>Nombre:</strong> <%= p.product.nombre %></p>
                    <p><strong>Descripcion:</strong> <%= p.product.descripcion %></p>
                    <p><strong>Precio:</strong> <%= p.product.precio %></p>
                    <p><strong>PrecioXunidad:</strong> <%= p.preciounidad %></p>
                    <p><strong>Categoria del producto:</strong> <%= p.product.category.nombre %></p>
                    <p><strong>Proveedor del producto:</strong> <%= p.product.supplier.nombre %></p>
                  </div>
                  <h1 class=h11>Datos de la Compra</h1>
                  <div class=deta-compra>
                    <p><strong>Id de la compra:</strong> <%= p.buy_id %></p>
                    <p><strong>Fecha:</strong> <%= p.buy.fecha %></p>
                    <p><strong>Cantidad total de los productos comprados:</strong> <%= p.cantidad %></p>
                    <p><strong>Contacto/telefono del proveedor:</strong> <%= p.product.supplier.contacto%></p>
                  </div>
                </section>
                <section class=n3>
                  <h1 class=h11>Imagen del Producto</h1>
                  <div class="div-foto">
                    <% if p.product.imagen.attached? %>
                      <%= image_tag url_for(p.product.imagen), alt: "Imagen del producto" %>
                    <% else %>
                      <p>No hay imagen</p>
                    <% end %>
                  </div>
                  <button class="editar"><%= link_to "Editar", edit_purchasedetail_path(p) %></button>
                </section>
              </section>
            </div>
          <% end %>
          <% if @purchasedetails.blank? && @filter_result_empty %>
            <div class="mensaje-vacio" style="margin-top:-570px;">
              <p style="color:red;">⚠️ No se encontró ningún cliente que coincida con los filtros aplicados.</p>
            </div>
          <% end %>
        </div>
        <%= link_to "+", new_purchasedetail_path, class: "new-pur" %>
      </section>
    </section>
  </section>
  <footer>
    &copy; 2025 Ferremateriales el Maestro - v2.3.7
  </footer>

  <script>
      const btn = document.getElementById("hamburger");
      const menu = document.getElementById("menu");

      btn.addEventListener("click", () => {
        menu.classList.toggle("active");
      });
  </script>
  <script>
    function mostrarDetalle(id) {
      const detalles = document.querySelectorAll('.div-purchase');
      detalles.forEach(function(div) {
        div.style.display = 'none';
      });

      const seleccionado = document.getElementById(id);
      if (seleccionado) {
        seleccionado.style.display = 'block';
      }
    }
  </script>
</body>
</html>