<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= favicon_link_tag 'favicon.png' %>
  <title>Dashboard Ferretería</title>
  <%= stylesheet_link_tag "inventario", media: "all" %>

  <link href="https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag "dashboard", media: "all" %>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

  <header>
    <div class="container-header">

      <div class="img-empresa">
        <img src="img/test.png" alt="" width="60px">
      </div>
      <button class="hamburger" id="hamburger">&#9776;</button>
      <div id="control">
        <div class="panel"><%= image_tag "panel-control.png", class: "c-panel" %></div>
        <p class="pricipal">Panel de Control</p>
      </div>

      
      <% if user_signed_in? %>
        <%= button_to destroy_user_session_path, method: :delete, form: { data: { turbo: true } }, id: "cerrar", class: "logout2" do %>
          <span><i class="fas fa-sign-out-alt"style="color: white"></i></span>
        <% end %>
      <% end %>

    </div>
  </header>

  <nav class="nav-bg">
    <div class="container-nav">
      <ul class="menu" id="menu">
        <li><a href="dashboard"class="link-menu">Inicio</a></li>
        <li><a href="inventario"class="link-menu">Inventario</a></li>
        <li><a href="ventas"class="link-menu">Ventas</a></li>
        <li><a href="suppliers"class="link-menu">Proveedores</a></li>
        <li><a href="clientes"class="link-menu">Clientes</a></li>
        <li><a href="help"class="link-menu">Ayuda</a></li>
      </ul>
      <% if user_signed_in? %>
        <%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete, form: { data: { turbo: true } }, id: "cerrar", class: "logout"%>
      <% end %>
    </div>
  </nav>


  <section class="section-container">
  <button class="hamburger-categorias" id="hamburger-categorias">&#9776; Categorías</button>

  <aside class="categorias" id="menu-categorias">
    <div class="div-div">
      <a href="/inventario" class="div-categ" style="text-decoration:none;"><i class="fas fa-arrow-left" id="vol"></i></a>
      <div class="div-categ">Categorias:</div>
      <a href="#modal-new-category" class="new-categ">+</a>
    </div>
      <% @categories.each do |category| %>
        <%= render category %>
      <% end %>
</div>

  </aside>
  <section class="section-product">
    <nav class="nav-filtros">
    <p class=p><i class="fas fa-filter"></i> Filtros</p>
    <%= form_with url: inventario_path, method: :get, local: true, class:"form-filtros" do %>
      <ul>
        <li>
          <%= label_tag :query, "Nombre:" %>
          <%= text_field_tag :query, params[:query], placeholder: "Ej: Martillo", style:"border-radius:10px; padding-left: 10px; border:1px solid grey;"%> 
        </li>
        <li class="li-precio"><a class="a-precio" href="">Rango de Precio</a>
          <ul class="ul-precio">
            <li>
              <%= label_tag :min_price, "Mínimo:  " %>
              <%= number_field_tag :min_price, params[:min_price], step: 0.01, style:"width: 80px; border-radius:10px; padding-left: 10px; border: grey"%>
            </li>
            <li>
              <%= label_tag :max_price, "Máximo:  " %>
              <%= number_field_tag :max_price, params[:max_price], step: 0.01, style:"width: 80px; border-radius:10px; padding-left: 10px; border: grey"%>
            </li>
          </ul>
        </li>
        <li class="li-marca"><a class="a-marca" href="">Proveedor</a>
        <ul class="ul-marca">
          <% @suppliers.each do |supplier| %>
            <%= render supplier %>
          <% end %>
        </ul>
        </li>
        <li>
          <%= button_tag type: 'submit', class: 'lupa' do %>
            <i class="fas fa-search"></i>
          <% end %>
        </li>
      </ul>
    <% end %>
    </nav>
    <section class="section-models">
      <% if @products.present? %>
        <% @products.each do |product| %>
          <%= render product %>

          <div id="modal-ver-<%= product.id %>" class="modal-ver">
            <div class="modal-content">
              <a href="#" class="close">&times;</a>
              <div class="titulo2 ps">Producto</div>
              <div class="div-foto-model">
                  <% if product.imagen.attached? %>
                    <%= image_tag url_for(product.imagen), alt: "Imagen del producto" %>
                  <% else %>
                    <p>No hay imagen</p>
                  <% end %>
              </div>
              <div class="texto-model">
                <li>
                  <strong  class="titulo">Nombre:</strong>
                  <%= product.nombre %>
                </li>
                <li>
                  <strong class="titulo">Descripcion:</strong>
                  <%= product.descripcion %>
                </li>
                <li>
                  <strong class="titulo">Precio:</strong>
                  <%= product.precio %>
                </li>
                <li>
                  <strong class="titulo">Stock:</strong>
                  <%= product.stock %>
                </li>
                <li>
                  <strong class="titulo">Proveedor:</strong>
                  <%= product.supplier&.nombre %>
                </li>
                <li>
                  <strong class="titulo">Categoria:</strong>
                  <%= product.category.nombre %>
                </li>
              </div>
              <div class='edit'>
              <button class="editar2"><%= link_to "Editar", "#modal-edit-#{product.id}" %></button>
              </div>
            </div>
          </div>

          <div id="modal-edit-<%= product.id %>" class="modal-editar">
            <div class="modal-content2">
              <a href="#" class="close">&times;</a>
              <div class="titulo2">Editar Producto</div>
              <%= form_with(model: product, local: true, html: { multipart: true }, class: 'form-editar') do |form| %>
                <% if product.errors.any? %>
                  <div style="color: red">
                    <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

                    <ul>
                      <% product.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="texto2">
                  <%= form.label :imagen, "Imagen : ", style: "display: block" %>
                  <%= form.file_field :imagen, class: "btn5"%>
                </div>

                <div class="texto2">
                  <%= form.label :nombre, "Nombre : ", style: "display: block" %>
                  <%= form.text_field :nombre %>
                </div>

                <div class="texto2">
                  <%= form.label :descripcion, "Descripcion : ", style: "display: block" %>
                  <%= form.text_area :descripcion, class:'descripcion' %>
                </div>

                <div class="texto2">
                  <%= form.label :precio, "Precio : ", style: "display: block" %>
                  <%= form.text_field :precio %>
                </div>

                <div class="texto2">
                  <%= form.label :stock, "Stock : ", style: "display: block" %>
                  <%= form.number_field :stock %>
                </div>

                <div class="texto2">
                <%= form.label :category_id, "Categoría : " %>
                  <%= form.collection_select :category_id, Category.all, 
                  :id, :nombre, prompt: "Seleccione una categoría" %> 
                </div>
                <div class="texto2">
                  <%= form.label :provider_id, "Proveedor : " %> 
                  <%= form.collection_select :supplier_id, Supplier.all,
                  :id, :nombre, prompt: "Seleccione un proveedor" %>  
                </div> 
                <div class="btn3">
                  <%= form.submit "Editar", class:'btn4' %>
                </div>
              <% end %>
            </div>
          </div>
          
        <% end %>
      <% else %>
        <p>No se encontraron productos.</p>
      <% end %>
      <a href="#modal-new-product" class="new-prod">+</a>

      <div id="modal-new-product" class="modal-ver">
  <div class="modal-content2">
    <a href="#" class="close">&times;</a>
    <div class="titulo2 tc" >Crear Producto</div>
    <%= form_with(model: Product.new, url: products_path, local: true, html: { multipart: true }, class: 'form-editar') do |form| %>

      <div class="texto2">
        <%= form.label :imagen, "Imagen : ", style: "display: block" %>
        <%= form.file_field :imagen, class: "btn5" %>
      </div>

      <div class="texto2">
        <%= form.label :nombre, "Nombre : ", style: "display: block" %>
        <%= form.text_field :nombre %>
      </div>

      <div class="texto2">
        <%= form.label :descripcion, "Descripcion : ", style: "display: block" %>
        <%= form.text_area :descripcion, class:'descripcion' %>
      </div>

      <div class="texto2">
        <%= form.label :precio, "Precio : ", style: "display: block" %>
        <%= form.text_field :precio %>
      </div>

      <div class="texto2">
        <%= form.label :stock, "Stock : ", style: "display: block" %>
        <%= form.number_field :stock %>
      </div>

      <div class="texto2">
        <%= form.label :category_id, "Categoría : " %>
        <%= form.collection_select :category_id, Category.all, :id, :nombre, prompt: "Seleccione una categoría" %> 
      </div>

      <div class="texto2">
        <%= form.label :supplier_id, "Proveedor : " %> 
        <%= form.collection_select :supplier_id, Supplier.all, :id, :nombre, prompt: "Seleccione un proveedor" %>  
      </div> 

      <div class="btn3">
        <%= form.submit "Crear", class:'btn4 bc' %>
      </div>

    <% end %>
  </div>
</div>

    </section>
  </section>
  </section>

  

  <footer>
    &copy; 2025 Ferremateriales el Maestro - v2.3.7
  </footer>

  <script>
    const btn = document.getElementById("hamburger");
    const menu = document.getElementById("menu");

    btn.addEventListener("click", () => {
      menu.classList.toggle("active");
    });
    const btnCategorias = document.getElementById("hamburger-categorias");
  const menuCategorias = document.getElementById("menu-categorias");

  btnCategorias.addEventListener("click", () => {
    menuCategorias.classList.toggle("active");
  });
  </script>

<!-- MODAL NUEVA CATEGORÍA -->
<div id="modal-new-category" class="modal">
  <div class="modal-content2">
    <a href="#" class="close">&times;</a>
    <div class="titulo2 tc">Crear Categoría</div>

    <%= form_with(model: Category.new, url: categories_path, local: true, class: 'form-editar') do |form| %>
      <div class="texto2">
        <%= form.label :nombre, "Nombre:", style: "display: block" %>
        <%= form.text_field :nombre %>
      </div>

      <div class="btn3">
        <%= form.submit "Crear", class: 'btn4 bc' %>
      </div>
    <% end %>
  </div>
</div>



</body>
</html>