<ul class="ul-prod">
  <div id="<%= dom_id product %>"></div>
  <div class="div-foto">
    <% if product.imagen.attached? %>
      <%= image_tag url_for(product.imagen), alt: "Imagen del producto" %>
    <% else %>
      <p>No hay imagen</p>
    <% end %>
  </div>
  <div class="texto">
    <li class="li-start">
      <strong  class="titulo"><%= product.nombre %></strong>
    </li>
    <li>
      Descripcion:
      <%= product.descripcion %>
    </li>
  </div>
  <div class="opciones">
    <button class="editar"></button>
    <button class="ver">
      <%= link_to "Ver", "#modal-#{product.id}" %>
    </button>
  </div>
</ul>
