<div id="<%= dom_id purchasedetail %>">
  <p>
    <strong>Buy:</strong>
    <%= purchasedetail.buy_id %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= purchasedetail.supplier_id %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= purchasedetail.cantidad %>
  </p>

  <p>
    <strong>Preciounidad:</strong>
    <%= purchasedetail.preciounidad %>
  </p>

</div>
